<div class="theme-wrapper">
  <%= link_to theme_path(themes.id),class:"themes" do %>
    <div class="theme-content">
      <div class="theme-left">
        <h3 class="main-theme"><%=themes.main_theme%></h3>
        <ul class="sub-theme-list">
          <li class="sub-theme-blue"><%=themes.sub_theme_1%></li>
          <li class="theme-or"> or </li> 
          <li class="sub-theme-red"><%=themes.sub_theme_2%></li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="theme-menu">
    <% if user_signed_in? && current_user.id == themes.user.id%>
       <input type="checkbox" id="menu-check-<%=themes.id%>" class="menu-hidden" >
       <label for="menu-check-<%=themes.id%>" class="menu-open"><span></span></label>
       <nav class="menu">
         <ul class="menu-list">
           <li><%= link_to "削除",theme_path(themes.id),method: :delete%></li>
         </ul>
       </nav>
       <div class="cover">
       </div>
    <% end %>
  </div>
</div>
